<header>
	<div class="main">
		<a href="{{ absURL "/" }}">{{ .Site.Title }}</a>
	</div>
	<nav>
		{{ $rss := "" }}
		{{ range .Site.Menus.main }}
			{{ if eq (lower .Name) "rss" }}
				{{ $rss = .URL }}
			{{ else }}
				<a href="{{ .URL }}">{{ .Name }}</a>
			{{ end }}
		{{ end }}
		{{ if eq .Site.Params.mode "toggle" -}}
			{{ if ne $rss "" }} | <a class="rss-icon" href="{{ $rss }}" title="RSS feed" aria-label="RSS" target="_blank" rel="noopener noreferrer"><i data-feather="rss"></i></a>{{ end }}
		| <span id="dark-mode-toggle" class="theme-toggle" onclick="toggleTheme()"></span>
		<script src="{{ absURL "js/themetoggle.js" }}"></script>
		{{ else }}
			{{ if ne $rss "" }}<a class="rss-icon" href="{{ $rss }}" title="RSS feed" aria-label="RSS" target="_blank" rel="noopener noreferrer"><i data-feather="rss"></i></a>{{ end }}
		{{ end }}
	</nav>
	<div class="header-divider"></div>
</header>
